/* index.html page styling */

/* h1 styling */
h1 {
    color: rgba(189, 255, 255, 100);
    font-size: 2em;
    font-weight: bold;
    font-family: "DM Sans", sans-serif;
  }

/* h2 styling */
h2 {
    color: rgba(189, 255, 255, 100);
    font-size: 1.5em;
    font-weight: bold;
    font-family: "DM Sans", sans-serif;
}

/* profile img styling */
img {
    border-radius: 8px;
    max-height: 50%;
    max-width: 50%;
  }

  p.dotted {border-style: dotted;}
