/* body styling */
body {
    color: turquoise;
    font-family: "Times New Roman", Times, serif;
    margin: 0;
    padding: 0;
  }

  /* h1 styling */
h1 {
    color: greenyellow;
    font-size: 3em;
    font-weight: bold;
    font-family: "Papyrus",fantasy;
    text-align: center;
  }

/* container styling */
#container {
    margin: 10px; 
    border: 8px solid greenyellow; 
    background-color: blue; 
    color: turquoise; 
    font-weight: bold; 
    font-family: "Comic Sans MS";
    padding-bottom: 10px; 
    display: inline-block; 
    font-size: 16pt; 
}

/* button styling */
button {
    font-size: 15pt; 
    font-family: "Times New Roman", Times, serif;
  }

/* partial code help & outline credit goes to https://blog.codepen.io/2016/11/03/ridiculous-ways-enter-phone-number-form/ */