/* general index page styling */
body {
    background-color: rgba(189, 255, 255, 100);
    color: #333;
    font-family: "Raleway", sans-serif;
    padding: 1em;
    margin: 0;
  }

/* h1 styling */
h1 {
    color: rgba(28, 173, 173, 68);
    font-size: 2em;
    font-weight: bold;
    font-family: "DM Sans", sans-serif;
  }

/* h2 styling */
h2 {
    color: rgba(28, 173, 173, 68);
    font-size: 1.5em;
    font-weight: bold;
    font-family: "DM Sans", sans-serif;
}

/* paragraph styling*/
p {
    padding: 2em;
    border: rgba(255, 139, 71, 100);
    background-color: rgba(250, 196, 165, 98);
}

/* profile img styling */
img {
  border-radius: 8px;
}

/* link styling */
a:link,
a:visited {
    color: white);
}
a:hover {
    color: rgba(250, 196, 165, 98);
    text-decoration: none;
}

/*
a:default{
    color: rgba(186, 169, 159, 73)
}
*/
