/* general index page styling */
body {
    color: rgba(9, 3, 97, 38);
    font-family: "Raleway", sans-serif;
    margin: 0;
    padding: 0;
  }


header {
    width: 210mm;
    height: 100mm;
    margin: 20px auto;
    position: relative;
}

/* h1 styling */
h1 {
    color: rgba(28, 173, 173, 68);
    font-size: 3em;
    font-weight: bold;
    font-family: "DM Sans", sans-serif;
    text-align: center;
  }

/* h2 styling */
h2 {
    color: rgba(28, 173, 173, 68);
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    font-family: "DM Sans", sans-serif;
}

/* paragraph styling */
p {
    padding: 2em;
    border: solid rgba(28, 173, 173, 68);
    background-color: lightcyan;
    text-align: center;
}

/* link styling */
a:link,
a:hover {
    color: white;
    text-decoration: none;
}
a:visited {
    color: lightskyblue;
    text-decoration: none;
}

.myHome {
    position: relative;
    text-align: center;
    color: white;
}

.centered {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 8.5em;
    font-weight: bold;
    font-family: "DM Sans", sans-serif;
    text-align: center;
}

.centeredSmall {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 1.5em;
    font-weight: bold;
    font-family: "DM Sans", sans-serif;
    text-align: center;
}

/* nav bar styling */
nav {
    background-color: rgba(28, 173, 173, 68);
    color: white;
    font-weight: bold;
    padding: 1.5em;
    top: 0;
    position: sticky;
  }
  
  nav ul {
    margin: 0;
    padding: 0;
    color: white;
    font-weight: bold;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
  }
  
  nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: .5em 1.5em;
  }

  nav ul li a:hover {
    color: rgba(19, 81, 97, 38);
  }

.logo {
    position: center;
    display: block;
    margin: auto;
}

/* drop down menu styling */
.dropbtn {
  background-color: rgba(28, 173, 173, 68);
  color: lightskyblue;
  padding: 10px;
  font-size: 15px;
  border:white;
  border-radius: 100px;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;

}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

.dropdown-content a {
  color: lightskyblue;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: darkblue}


.dropdown:hover .dropdown-content {
  display: block;
}


.dropdown:hover .dropbtn {
  background-color: darkblue;

   }


/* ABOUT ME PAGE STYLING */
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}
.profile-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
  height: 20%;
  border-radius: 50%;
}
.column {
  float: left;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 0 8px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(19, 81, 97, 38);
  margin: 8px;
}

.about-section {
  padding: 50px;
  text-align: center;
  background-color: white;
  color: rgba(19, 81, 97, 38);
}

.container {
  padding: 0 16px;
}

.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: rgba(19, 81, 97, 38);
}

@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}

/* RESUME PAGE STYLING */
.resume-contents {
  min-height: 100vh;
  width: 80%;
  margin: 2rem auto;
  display: grid;
  grid-template-columns: repeat(1 fr, 1fr);
}

.left-section {
  grid-column: span 2;
  height: 100%;
  background-color: rgba(19, 81, 97, 38);
}

.right-section {
  grid-column: span 5;
  height: 100%;
  background-color: lightskyblue;
}

.left-section-contents{
  padding: 2rem 2rem;
}

.profile {
  width: 100%;
  border-bottom: 2px solid #1B2631;
}

.profile .profileImage {
  width: 50%;
  height: 60%;
  border-radius: 50%;
  border: 8px solid rgba(28, 173, 173, 68);
}

.name {
  color: rgba(28, 173, 173, 68);
  font-size: 30px;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  padding: 1rem 0;
}

.profession {
  color: lightskyblue;
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 2px;
  font-weight: bold;
  padding-bottom: 1rem;
}

/* .contact-info { border-bottom: 2px solid #1B2631; } */
.left-title {
  color: lightskyblue;
  font-size: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: bold;
  display: flex;
  align-items: center;
  padding-top: 3rem;
}

.contact-info ul {
  padding-top: 1.5rem;
}

.contact-info ul li,
.references ul li {
  padding: .4rem 0;
  display: flex;
  align-items: center;
  color: white;
  letter-spacing: 1px;
  font-size: 18px;
}

.contact-info ul li i,
.references ul li i {
  padding-right: 1rem;
  font-size: 18px;
  color: rgba(28, 173, 173, 68);
}

.skills ul {
  padding-top: 1.5rem;
}
.skills ul li p {
  padding: .4rem 0;
  color: rgba(28, 173, 173, 68);
  font-size: 18px;
  letter-spacing: 1px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
}

.right-section-contents {
  padding: 1rem 1rem;
}

.right-title {
  color: rgba(28, 173, 173, 68);
  font-size: 40px;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: bold;
  display: flex;
  align-items: center;
  padding: 2rem 0;
  position: relative;
}

.gap {
  padding-bottom: 2rem;
}
.about-me-contents {
  font-size: 18px;
  letter-spacing: 1px;
  line-height: 2rem;
}

.experience-contents,
.education-contents,
.awards-contents {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding-bottom: 2rem;
}

.exp-company-name,
.education-school-name,
.awards-company-name {
  font-size: 25px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: rgba(9, 3, 97, 38);
  padding-bottom: .4rem;
}

.exp-time-period,
.educationp-time-period,
.awards-time-period {
  font-size: 18px;
  letter-spacing: 1px;
  line-height: 2rem;
}

.exp-position,
.education-subject,
.awards-name {
  font-size: 25px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: rgba(28, 173, 173, 68);
  padding-bottom: .4rem;
}

.exp-desc,
.education-desc,
.awards-desc {
  font-size: 16px;
  letter-spacing: 1px;
  line-height: 1.5rem;
  border-left: 3px solid #a5a3a3;
  padding-left: 5px;
}

/* Media queries */
@media screen and (max-width:780px) {
  .experience-contents,
  .education-contents,
  .awards-contents {
      grid-template-columns: repeat(1, 1fr);
  }
}

@media screen and (max-width:780px) {
  .left-section {
      grid-column: span 3;
  }
  
  .right-section {
      grid-column: span 4;
  }
  
}

@media screen and (max-width:1200px) {
  .resume-contents {
      grid-template-columns: repeat(1, 1fr);
  }
}

@media screen and (max-width:390px) {
  .resume-contents {
      width: 100%;
      margin: 0 auto;
  }

  .name {
      font-size: 20px;
  }

  .profession {
      font-size: 18px;
  }

  .left-title {
      font-size: 18px;
  }

  .right-title {
      font-size: 18px;
  }

  .contact-info ul li,
  .references ul li {
      font-size: 12px;
  }

  .contact-info ul li i,
  .references ul li i {
      /* padding-right: 1rem; */
      font-size: 12px;
  }

  .skills ul li p {
      font-size: 12px;
  }

  .about-me-contents {
      font-size: 16px;
      line-height: 1.5rem;
  }

  .exp-company-name,
  .education-school-name,
  .awards-company-name {
      font-size: 18px;
  }

  .exp-time-period,
  .educationp-time-period,
  .awards-time-period {
      font-size: 16px;
  }

  .exp-position,
  .education-subject,
  .awards-name {
      font-size: 18px;
  }
}
/* special thank you & credit for css resume styling template to Fahadul Shadhin at https://github.com/FahadulShadhin */


/* MY WORK PAGE STYLING */

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.column {
  float: left;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 0 8px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(19, 81, 97, 38);
  margin: 8px;
}

.about-section {
  padding: 50px;
  text-align: center;
  background-color: white;
  color: rgba(19, 81, 97, 38);
}

.container {
  padding: 0 16px;
}

.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: rgba(19, 81, 97, 38);
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: rgba(19, 81, 97, 38);
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  background-color: #89D5D2;
}

@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}


/* CONTACT ME PAGE STYLING */
* {
  box-sizing: border-box;
}

/* Style inputs */
input[type=text], select, textarea {
  background-color: #89D5D2;
  color: rgba(19, 81, 97, 38);
  font-family: "Raleway", sans-serif;
  width: 100%;
  padding: 12px;
  border: 3px solid rgba(19, 81, 97, 38);
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

::placeholder { 
  color: rgba(19, 81, 97, 38);
  opacity: 1;
}

input[type=submit] {
  background-color:rgba(19, 81, 97, 38);
  color: white;
  font-family: "Raleway", sans-serif;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #89D5D2;
}

.linkedIn {
  margin-left: auto;
  margin-right: auto;
  width: 20%;
  height: 20%;
}

/* Style the container/contact section */
.container {
  border-radius: 5px;
  background-color: white;
  padding: 10px;
}

/* Create two columns that float next to eachother */
.column {
  float: left;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 0 8px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}
       