/* general index page styling */
body {
    color: #333;
    font-family: "Raleway", sans-serif;
    margin: 0;
  }


.backgroundImage {
    margin: 0;
    padding: 0;
    background-image: url("img/Wavy.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}


header {
    width: 210mm;
    height: 100mm;
    margin: 20px auto;
    position: relative;
}

/* h1 styling */
h1 {
    color: rgba(28, 173, 173, 68);
    font-size: 3em;
    font-weight: bold;
    font-family: "DM Sans", sans-serif;
  }

/* h2 styling */
h2 {
    color: rgba(28, 173, 173, 68);
    font-size: 1.5em;
    font-weight: bold;
    font-family: "DM Sans", sans-serif;
}

/* paragraph styling*/
p {
    padding: 2em;
    border: solid rgba(255, 139, 71, 100);
    background-color: rgba(250, 196, 165, 98);
}

/* profile img styling */
img {
  border-radius: 8px;
}

/* link styling */
a:link,
a:hover {
    color: white;
    text-decoration: none;
}
a:visited {
    color: lightskyblue;
    text-decoration: none;
}

/* responsive navbar styling */
.container {
    width: 100vh;
    min-height: 100px;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing:border-box;
    overflow: hidden;
    position: sticky;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(28, 173, 173, 68);
    color: white;
    font-size: 20px;
}

.logo {
    width: 100px;
    cursor: pointer;
    margin: 5px 0;
}

.menu {
    width: 10px;
    cursor: pointer;
}

nav ul li {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: space-evenly;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    padding: .5em 1em;
}

nav ul li a:hover {
    color: rgba(19, 81, 97, 38);
}




/* nav bar styling
nav {
    background-color: rgba(28, 173, 173, 68);
    padding: .5em;
    top: 0;
    position: sticky;
  }
  
  nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
  }
  
  nav a {
    color: white;
    text-decoration: none;
    font-family: "DM Sans", sans-serif;
    font-weight: bold;
    padding: .5em 1em;
  } 

  .navList {
    list-style-type: none;
    width: 100%;
    text-align: center;
    padding-top: 10px;
}

.navbar a {
    display: block;
    color: white;
    text-decoration: none;
    font-family: "DM Sans", sans-serif;
    font-weight: bold;
    font-size: 20px;
    padding: .5em 1em;
}

.navbar a:hover {
    background-color: rgba(189, 255, 255, 100);
}

@media screens and (max-width: 500px) {
    .navbar {
        flex-direction: column;
        float: none;
        display: block;

    }
}

background-color: rgba(189, 255, 255, 100);
  */


  /* Iphone 
@media only screen and (max-width: 450px) {
    body {
      margin: 0px;
    }
/* Desktop 
    @media screen and (min-width: 450px) {
        body {
          font-family: helvetica;
        } */